<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mose</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/magic-check.css">
    <!--<link rel="stylesheet" href="css/bulma.css">-->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="js/jquery.js" charset="utf-8"></script>
    <script src="js/search.js" charset="utf-8"></script>
    <script src="js/pouchdb-6.1.1.js" charset="utf-8"></script>
    <script src="js/vue.js"></script>
    <script>if (window.module) module = window.module;</script>
  </head>
  <body>
    <div class="container" style="max-width: 774px;">
      <div class="topbar" style="-webkit-app-region: drag">
        <p></p>
        <i id="closeBtn" class="fa fa-window-close" aria-hidden="true" style="-webkit-app-region: no-drag"></i>
      </div>
      <div class="barIcon">
        <i id="settingsBtn" class="fa fa-cogs fa-2x" aria-hidden="true"></i>
        <i id="filterBtn" class="fa fa-filter fa-2x" aria-hidden="true"></i>
      </div>
      <div class="filterDiv">
        <div class="arrow-up"></div>
        <div class="filterDialog">
          <div v-for="source in sources">
            <i class="fa" :class="source.icon" aria-hidden="true"></i>
            <p>{{source.name}}</p>
            <input type="checkbox" :checked="source.enabled">
          </div>
        </div>
      </div>
      <div class="search">
        <input type="text" name="searcher" id="searcher" value="" autofocus placeholder="Looking for something ?">
      </div>
      <div class="results" style="display:none; overflow-y: scroll; background-color: white; max-height: 400px;">

      </div>
      <div class="settings" style="display:none">
        <div class="set-categories">
            <div id="generalBtn" class="cat-active">General</div>
            <div id="sourcesBtn">Sources</div>
        </div>
        <div class="cat-general">
          <div class="forminput">
            <input class="magic-checkbox" type="checkbox" name="layout" id="1" value="option">
            <label for="1"></label>
            <p>Search while typing</p>
          </div>


        </div>
        <div class="cat-sources" style="display:none">
          <div class="tableContainer">
            <table class="sourceTable">
              	<tr v-for="source in sources">
                  <td><i class="fa" :class="source.icon" aria-hidden="true"></i></td>
                  <td><p>{{source.name}}</p></td>
                  <td>{{source.account}}</td>
                  <td><i class="fa fa-trash" aria-hidden="true"></i></td>
              	</tr>
            </table>
          </div>
          <div class="btmsrc">
            <button type="button" name="button" class="addSourceBtn" onclick="$('.addSourceDiv').show()"><i class="fa fa-plus" aria-hidden="true" style="padding-right:2px;"></i> Add Source</button>
          </div>

          <div class="addSourceDiv" style="display:none">
            <div class="providerTable">
              <table>
                <tr v-for="provider in providers">
                  <td><i class="fa" :class="provider.icon" aria-hidden="true"></i></td>
                  <td><p>{{provider.name}}</p></td>
                </tr>
              </table>
            </div>
            <button type="button" name="button" class="providerConnect">Connect</button>
          </div>
        </div>
        <button id="settingsDoneBtn" type="button" name="button">Done</button>
      </div>
    </div>
  </body>
</html>
