body {
  font-family: Sans-Serif;
}
#searcher{
  width: 600px;
  height: 60px;
  border-color: transparent;
  padding-left: 20px;
  padding-right: 150px;
  font-size: 21px;
  background-color: rgba(64, 75, 78, 0.95);
  color: white;
}
input:focus{
  outline: none;
}
.barIcon{
  position: absolute;
  color: white;
}
.barIcon > .icon{
  float: right;
}
.barIcon > .icon:hover{
  cursor: pointer;
}
body, html, .container{
  background-color: transparent;
  overflow: hidden;
}
.topbar{
  background-color: rgb(54, 62, 64);
  max-height: 25px;
  border-radius: 5px 5px 0px 0px;
  height: 25px;
  width: 744px;
  color: white;
  padding: 0px 15px;
}
.topbar > p{
  float: left;
  margin: 0;
  padding-top: 4px;
}
.topbar > i{
  float: right;
  padding-top: 4px;
}
.settings{
  background-color: #2f3435;
  position: absolute;
  top: 33px;
  height: 400px;
  width: 774px;
}
.settings > button{
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: white;
  border: none;
  background-color: #42686f;
  padding: 8px 17px;
  border-radius: 2px;
}
.settings > button:hover{
  cursor: pointer;
}
.set-categories{
  float: left;
  background-color: #414c4e;
  height: 100%;
  width: 110px;
  color: white;
}
.set-categories > ul{
  list-style-type: none;
}
.set-categories > div{
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #636d6f;
}
.set-categories > div:not(.cat-active):hover{
  background-color: #636d6f;
  cursor: pointer;
}
.set-categories .cat-active{
  background-color: #2f3435;
}
.forminput{
  position: relative;
  padding: 10px 15px;
  color: white;
}
.cat-general{
  float:left;
  padding: 20px;
}
.cat-sources{
  float: left;
}
.forminput > p{
  padding-top: 0;
  margin-top: 2px;
  margin-left: 30px;
}
.magic-checkbox+label:before {
  background-color: #a5afb1;
}
.openBtn{
  position: absolute;
  right: 15px;
  top: 32px;
  width: 35px;
  height: 35px;
}
.pathBtn{
  position: absolute;
  right: 65px;
  top: 32px;
  height: 35px;
  width: 35px;
}
.document-item > .fname{
  font-weight: 700;
  position: absolute;
  top: 10px;
  left: 90px;
}
.document-item > .fpath{
  font-size: 10px;
  position: absolute;
  bottom: 10px;
  left: 90px;
}
.document-item > i{
  position: absolute;
  top: 50%;
  margin-top: -32px;
  left: 15px;
}
.document-item{
  height: 100px;
  position: relative;
}
.results{
  background-color: rgba(94,111,115,0.95)!important;
  max-height: 400px;
  color: white;
}
button{
  cursor: pointer;
}
#settingsBtn{
  position: absolute;
  left: 710px;
  top: 15px;
}
#filterBtn{
  position: absolute;
  left: 650px;
  top: 15px;
}
.tableContainer{
  height: 300px;
  background-color: #424546;
  width: 630px;
  margin: 15px;
  color: white;
  overflow: auto;
}
.addSourceBtn{
  color: white;
  border: none;
  background-color: #42686f;
  padding: 6px 12px;
  border-radius: 2px;
  margin: 4px;
}
.btmsrc{
  background-color: #414c4e;
  margin-top: -15px;
  margin-left: 15px;
  margin-right: 15px;
  height: 35px;
}
.sourceTable{
  width: 100%;
}
.sourceTable  tr > td:nth-of-type(1){
  //width: 50px;
  text-align: center;
}
.addSourceDiv{
  position: absolute;
  top: 0;
  background-color: rgba(53, 59, 60, 0.95);
  width: 664px;
  height: 100%;
  z-index: 9;
}
.providerTable{
  position: absolute;
  top: 40px;
  background-color: #333535;
  left: 30px;
  width: 235px;
  height: 300px;
  color: white;
  overflow: auto;
}
.providerConnect{
  position: absolute;
  top: 165px;
  right: 130px;
  color: white;
  border: none;
  background-color: #42bd6c;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 2px;
}
.providerCancel{
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: white;
  border: none;
  background-color: #bd4242;
  padding: 8px 17px;
  font-size: 16px;
  border-radius: 2px;
}
.providerTable > table tr >td:first-of-type{
  text-align: center;
}
.providerTable > table tr.active{
  background-color: #4c5252;
}
.providerTable > table tr:hover:not(.active){
  background-color: #616969;
  cursor: pointer;
}
.providerTable > table{
  width: 100%;
}
/*.sourceTable > tr > td:nth-of-type(2){
  width: 150px;
}
.sourceTable > tr > td:nth-of-type(4){
  float: right;
}*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
